@import url('https://fonts.googleapis.com/css?family=Tangerine');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: gray;
    /* font-family: 'tangerine', sans-serif; */
}


body {
    display: flex;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background-color: #1e1e1e; 
}

.inputbox {
    position: relative;
    width: 250px;

}

.inputbox input {
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    background: transparent;
    border-radius: 5px;
    outline: none;
    font-size: 25px;
    font-family: monospace;
    

}


.inputbox span {
    position: absolute;
    left: 0;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    pointer-events: none;
    font-size: 20px;
    color: black;
    transition: all;
    transition-duration: 0.5s;
    


}
form{
    display: flex;
    flex-direction: column;
    gap: 30px;
    
}
input:valid~span,
input:focus~span {
    font-family: monospace;
    color: #007acc;
    transform: translateX(10px) translateY(-10px);
    font-size: 0.80em;
    padding: 0 10px;
    letter-spacing: 0.5em;
    background-color:#2e2e2e;
    border-left: 1px solid;
    border-right: 1px solid;

}
.buttons{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: 20px;
}
.whitebox {
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:30px;
    height: 500px;
    width: 500px;
    background-color: rgb(255,255,255,0.1);
    border-radius: 9px;
    overflow: hidden; */

    position: relative;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255,0);

    overflow: hidden;
    border-radius: 20px;
    
    /* display: none; */
    
}

.whitebox::before {
    content: '';
    offset: 10px;
    position: absolute;
    width: 100px;
    height: 140%;
    background: linear-gradient(to bottom,#569cd6,#007acc);
    box-shadow: 0 0 20px rgb(0, 0, 0,0);
    animation: animate 5s linear infinite;
    z-index: -2;
    /* display: none; */

}

.whitebox::after {
    content: '';
    position: absolute;
    inset: 5px;
    background-color: #2e2e2e;
   
    border-radius: 10px;
    z-index: -1;
    /* display: none; */
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }

}

p {
    font-size: 60px;
    color: black;
    transition: 0.5s;
}

p:hover {
    text-shadow: 1px 1px #343a40;
}

a {
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    transition: 0.5s;
    text-decoration: none;
}

.inputbox :first-child a:hover {
    text-shadow: 2px 2px #007acc;
}

.tichuk{
    width: 5.5rem;
    height: 3rem;
}
.successButton {
    margin: auto;
    width: 348px;
    border-top: 7px solid green;
    font-family: comic;
}

.alertButton {
    padding-top: 10px;
    margin: auto;
    width: 348px;
    color: black;
    border-top: 7px solid red;
    font-family: comic;
    height: 100px;
    background-color: rgb(255, 192, 202);
    border-radius: 10px;
    text-align: center;
    position: fixed;
    top: 80px;
    z-index: 5;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
strong{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#ErrorClose {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    outline: none;}










/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~NAVBAR CSSS~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
nav {
    background-color: #2e2e2e;
    width: 100%;
    display: flex;
    gap: 1rem;
    padding: 0 20px;
    height: 50px;
    align-items: center;
    margin-bottom: 20px;

}

.navUL {
    list-style-type: none;
    display: flex;
    gap: 1rem;

}

#navbarSupportedContent {
    display: flex;
}

#logo {
    font-size: 30px;
    font-family: great vibes;
    transition: 0.5s;
}

#logo:hover {
    text-shadow: 2px 2px 1px #007acc;
}

ul li a {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #aaa;
}

ul li a:hover {
    color: white;
}

ul li:nth-child(1) a {
    color: white;
}
h1{
    font-family: great vibes;
}


/*button css*/
.btn-53,
.btn-53 *,
.btn-53 :after,
.btn-53 :before,
.btn-53:after,
.btn-53:before {
    border: 0 solid;
    box-sizing: border-box;
}

.btn-53 {
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: button;
    background-color: #000;
    background-image: none;
    color: #000;
    cursor: pointer;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 80%;
    line-height: 1.5;
    margin: 0;
    -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
    padding: 0;
}

.btn-53:disabled {
    cursor: default;
}

.btn-53:-moz-focusring {
    outline: auto;
}

.btn-53 svg {
    display: block;
    vertical-align: middle;
}

.btn-53 [hidden] {
    display: none;
}

.btn-53 {
    border: 1px solid;
    border-radius: 10px;
    box-sizing: border-box;
    display: block;
    font-weight: 900;
    overflow: hidden;
    padding: 0.2rem 1.5rem;
    position: relative;
    /* font-size: 30px; */
    text-transform: capitalize;
}

.btn-53 .original {
    background: #fff;
    color: #000;
    display: grid;
    inset: 0;
    place-content: center;
    position: absolute;
    transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1);
}

.btn-53:hover .original {
    transform: translateY(100%);
}

.btn-53 .letters {
    display: inline-flex;
}

.btn-53 span {
    opacity: 0;
    transform: translateY(-15px);
    transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1), opacity 0.2s;
}

.btn-53 span:nth-child(2n) {
    transform: translateY(15px);
}

.btn-53:hover span {
    opacity: 1;
    transform: translateY(0);
}

.btn-53:hover span:nth-child(2) {
    transition-delay: 0.1s;
}

.btn-53:hover span:nth-child(3) {
    transition-delay: 0.2s;
}

.btn-53:hover span:nth-child(4) {
    transition-delay: 0.3s;
}

.btn-53:hover span:nth-child(5) {
    transition-delay: 0.4s;
}

.btn-53:hover span:nth-child(6) {
    transition-delay: 0.5s;
}













/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~RESET BUTTON CSS~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.btn-54,
.btn-54 *,
.btn-54 :after,
.btn-54 :before,
.btn-54:after,
.btn-54:before {
    border: 0 solid;
    box-sizing: border-box;
}

.btn-54 {
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: button;
    background-color: #000;
    background-image: none;
    color: #fff;
    cursor: pointer;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 80%;
    line-height: 1.5;
    margin: 0;
    -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
    padding: 0;
}

.btn-54:disabled {
    cursor: default;
}

.btn-54:-moz-focusring {
    outline: auto;
}

.btn-54 svg {
    display: block;
    vertical-align: middle;
}

.btn-54 [hidden] {
    display: none;
}

.btn-54 {
    border: 1px solid;
    border-radius: 10px;
    box-sizing: border-box;
    display: block;
    font-weight: 900;
    overflow: hidden;
    padding: 1rem 1.5rem;
    position: relative;
    /* font-size: 30px; */
    text-transform: capitalize;
}

.btn-54 .original {
    background: #fff;
    color: #000;
    display: grid;
    inset: 0;
    place-content: center;
    position: absolute;
    transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1);
}

.btn-54:hover .original {
    transform: translateY(100%);
}

.btn-54 .letters {
    display: inline-flex;
}

.btn-54 span {
    opacity: 0;
    transform: translateY(-15px);
    transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1), opacity 0.2s;
}

.btn-54 span:nth-child(2n) {
    transform: translateY(15px);
}

.btn-54:hover span {
    opacity: 1;
    transform: translateY(0);
}

.btn-54:hover span:nth-child(2) {
    transition-delay: 0.1s;
}

.btn-54:hover span:nth-child(3) {
    transition-delay: 0.2s;
}

.btn-54:hover span:nth-child(4) {
    transition-delay: 0.3s;
}

.btn-54:hover span:nth-child(5) {
    transition-delay: 0.4s;
}

.btn-54:hover span:nth-child(6) {
    transition-delay: 0.5s;
}






.preloader {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1e1e1e;
    z-index: 5;
    position: fixed;
}

.loader {
    width: 58px;
    height: 34px;
    color: #FFF;
    background: currentColor;
    border-radius: 50% 50% 0 0;
    position: relative;
    display: block;
    margin: 60px auto 0;
    box-sizing: border-box;
    animation: animloader 3s linear infinite;
    z-index: 5;
}

.loader::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: currentColor;
    top: -34px;
    box-sizing: border-box;
    animation: animloader1 3s linear infinite;
}

@keyframes animloader {
    0% {
        box-shadow: 0 0 0 -2px, 0 0 0 -2px, 0 0 0 -5px, 0 0 0 -5px;
    }

    20% {
        box-shadow: 40px -1px 0 -2px, 0 0 0 -2px, 40px -1px 0 -5px, 0 0 0 -5px;
    }

    40% {
        box-shadow: 40px -1px 0 -2px, -40px -1px 0 -2px, 40px -1px 0 -5px, -40px -1px 0 -5px;
    }

    60% {
        box-shadow: 40px -1px 0 -2px, -40px -1px 0 -2px, 23px -29px 0 -5px, -40px -1px 0 -5px;
    }

    80%,
    95% {
        box-shadow: 40px -1px 0 -2px, -40px -1px 0 -2px, 23px -29px 0 -5px, -23px -29px 0 -5px;
    }

    100% {
        box-shadow: 40px -1px 0 -2px rgba(255, 255, 255, 0), -40px -1px 0 -2px rgba(255, 255, 255, 0), 23px -29px 0 -5px rgba(255, 255, 255, 0), -23px -29px 0 -5px rgba(255, 255, 255, 0);
    }
}

@keyframes animloader1 {
    0% {
        box-shadow: 0 0 0 -2px, 0 0 0 -2px, 0 0 0 -5px, 0 0 0 -5px;
    }

    20% {
        box-shadow: 40px 2px 0 -2px, 0 0 0 -2px, 40px 2px 0 -5px, 0 0 0 -5px;
    }

    40% {
        box-shadow: 40px 2px 0 -2px, -40px 2px 0 -2px, 40px 2px 0 -5px, -40px 2px 0 -5px;
    }

    60% {
        box-shadow: 40px 2px 0 -2px, -40px 2px 0 -2px, 23px -23px 0 -5px, -40px 2px 0 -5px;
    }

    80%,
    95% {
        box-shadow: 40px 2px 0 -2px, -40px 2px 0 -2px, 23px -23px 0 -5px, -23px -23px 0 -5px;
    }

    100% {
        box-shadow: 40px 2px 0 -2px rgba(255, 255, 255, 0), -40px 2px 0 -2px rgba(255, 255, 255, 0), 23px -23px 0 -5px rgba(255, 255, 255, 0), -23px -23px 0 -5px rgba(255, 255, 255, 0);
    }
}